html {
  font-family: "Abhaya Libre", serif;
}

.masthead {
  background-color: #423ca3;
}

.nav {
  text-align: center;
}

.btn {
  border: 6px;
  background-color: #15114c;
  border-color: #15114c;
}

.logo {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
